{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "extends": ["airbnb"],
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "16.8"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "rules": {
    "linebreak-style": ["error", "windows"],
    "react/jsx-indent": ["error", 2],
    "indent": ["error", 2],
    "no-unused-expressions": ["error", { "allowTernary": true }]
  }
}
