@font-face {
    font-family: 'Rabbid Highway';
    src: url("../fonts/RabbidHighwaySignII.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'et-line';
    src: url("../fonts/et-line.eot");
    src: url("../fonts/et-line.eot?#iefix") format("embedded-opentype"), url("../fonts/et-line.woff") format("woff"), url("../fonts/et-line.ttf") format("truetype"), url("../fonts/et-line.svg#et-line") format("svg");
}

/*------------------------------------------------------------------
[TABLE OF CONTENTS]

1. BASIC STYLES
2. LAYOUT
3. ALIGNMENT
4. LOADER
5. HEADER
6. CONTENT
7. NAVIGATION
8. BUTTONS
9. FORM ELEMENTS
10. COMMON ELEMENTS
11. MEDIA QUERIES
-------------------------------------------------------------------*/
/*=============================================>>>>>
= BASIC STYLES =
===============================================>>>>>*/
html,
body {
    overflow: hidden;
    height: 100%;
}

html.no-js,
body.no-js {
    overflow: visible;
    height: auto;
}

html.no-js body,
body.no-js body {
    overflow: visible;
    height: auto;
}

body {
    margin: 0;
    background: url(../images/main-bg.png);
    font: 81.3% Space Mono, monospace;
    color: #000;
    -webkit-tap-highlight-color: transparent;
}

main {
    display: block;
}

h1 {
    margin: 0 0 15px;
    font: 6.1538461538em/1 Rabbid Highway, sans-serif;
}

h2 {
    margin: 0 0 30px;
    font: 1.3846153846em/1 Rabbid Highway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h3 {
    margin: 0 0 15px;
    font: 1.9230769231em/1 Rabbid Highway, sans-serif;
    font-size: 21px;

}

h4 {
    margin: 0 0 5px;
    font: 6.1538461538em/1 Rabbid Highway, sans-serif;
    text-transform: uppercase;
    font-size: 19px;

}

p {
    margin: 0 0 30px;
    line-height: 1.5;
    color: #777;
}

ul,
ol {
    margin: 0 0 30px;
    line-height: 1.5;
    color: #777;
}

ul li,
ol li {
    padding: 0 0 5px;
}

address {
    margin: 0 0 30px;
    line-height: 1.5;
    color: #777;
}

blockquote {
    position: relative;
    margin: 0 0 30px;
}

blockquote header {
    text-align: center;
}

blockquote header .author-photo {
    overflow: hidden;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 0 15px;
}

blockquote p {
    margin: 0;
    font-style: italic;
}

blockquote footer {
    text-align: center;
}

blockquote footer cite {
    display: block;
    padding: 15px 0 0;
    font: Poppins, sans-serif;
    text-align: center;
}

table {
    border-collapse: collapse;
}

a {
    color: #3767C7;
}

a:hover {
    text-decoration: none;
}

b,
strong {
    font-weight: bold;
}

hr {
    position: relative;
    overflow: visible;
    display: block;
    margin: 35px 0;
    height: 2px;
    background: #000;
    border: none;
    color: inherit;
}

figure {
    position: relative;
    margin: 0 0 30px;
}

figure img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

iframe {
    border: none;
    vertical-align: bottom;
}

/*=============================================>>>>>
= LAYOUT =
===============================================>>>>>*/
.wrapper {
    position: relative;
    height: 100%;
}

.wrapper .wrapper-inner {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1200px;
    height: 100%;
    margin: auto;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.no-js .wrapper {
    height: auto;
}

.no-js .wrapper .wrapper-inner {
    position: relative;
    left: 0;
    height: auto;
    -webkit-transform: none;
    transform: none;
}

.margin-top {
    margin-top: 140px;
}

.margin-bottom {
    margin-bottom: 140px;
}

.padding-top {
    padding-top: 140px;
}

.padding-bottom {
    padding-bottom: 140px;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

/*=============================================>>>>>
= ALIGNMENT =
===============================================>>>>>*/
.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.alignleft {
    float: left;
    margin: 0 30px 15px 0;
}

.alignright {
    float: right;
    margin: 0 0 15px 30px;
}

/*=============================================>>>>>
= LOADER =
===============================================>>>>>*/
.site-loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 10000;
    text-align: center;
}

.site-loader .site-loader-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.site-loader .btn-site-loader-close {
    position: absolute;
    right: 30px;
    top: 30px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    font: 0.8em/1 Poppins, sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.no-js .site-loader {
    display: none;
}

.loader {
    width: 40px;
    height: 40px;
    margin: 0 auto 15px;
    background-color: #3767C7;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

/*=============================================>>>>>
= HEADER =
===============================================>>>>>*/
.site-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    z-index: 10;
}

.site-header .logo {
    position: absolute;
    left: 30px;
    top: 0;
}

.site-header .nav-main {
    position: absolute;
    right: 15px;
    top: 0;
}

/*=============================================>>>>>
= CONTENT =
===============================================>>>>>*/
.site-content {
    position: absolute;
    left: 0;
    top: 90px;
    bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-perspective: 800px;
    perspective: 800px;
}

.site-content img {
    max-width: 100%;
    height: auto;
}

.no-js .site-content {
    position: relative;
    top: 0;
    bottom: 0;
    padding-top: 80px;
}

.section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.section .section-main-block,
.section .section-secondary-block {
    position: absolute;
    overflow: hidden;
    background: #fff;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    box-sizing: border-box;
    color: #000000;
    opacity: 0;
}

.section .section-main-block .section-block-heading,
.section .section-secondary-block .section-block-heading {
    position: absolute;
    left: 0;
    top: 70px;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-90deg) translateX(-100%);
    transform: rotate(-90deg) translateX(-100%);
    z-index: 10;
}

.section .section-main-block .section-block-heading h2,
.section .section-secondary-block .section-block-heading h2 {
    margin: 0;
    padding: 15px 0 0;
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.section .section-main-block .section-block-heading h2:before,
.section .section-secondary-block .section-block-heading h2:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 10px solid;
}

.section .section-main-block {
    left: 0;
    top: 0;
    width: 100%;
    height: calc(60% - 10px);
}

.section .section-secondary-block {
    bottom: 0;
    width: calc(50% - 5px);
    height: 40%;
}

.section-secondary-block#expanded {
    bottom: 0;
    width: 100%;
    height: 40%;
}

.section .section-secondary-block-left {
    left: 0;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

.section .section-secondary-block-right {
    right: 0;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.section.section-out {
    z-index: 10;
}

.section.section-out .section-main-block,
.section.section-out .section-secondary-block {
    opacity: 1;
}

.section.section-in {
    z-index: 6;
}

.section.section-in .section-main-block,
.section.section-in .section-secondary-block {
    opacity: 1;
}

.section.section-in .section-main-block .section-block-heading h2,
.section.section-in .section-secondary-block .section-block-heading h2 {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.section.section-in .section-main-block .section-block-heading h2 {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

.section.section-in .section-secondary-block-left .section-block-heading h2 {
    -webkit-transition-delay: 0.75s;
    transition-delay: 0.75s;
}

.section.section-in .section-secondary-block-right .section-block-heading h2 {
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s;
}

.section .flipIn {
    -webkit-animation-name: flipIn;
    animation-name: flipIn;
}

.section .flipOut {
    -webkit-animation-name: flipOut;
    animation-name: flipOut;
}

.section .section-block-content {
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
}

.section .section-block-content .section-block-inner {
    padding: 70px 70px 0;
}

.section .section-block-content .section-block-inner#project {
    padding: 20px 70px 0;
}

.section .section-block-content-centered {
    overflow: hidden;
    height: 100%;
}

.section .section-block-content-centered .section-block-inner {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    padding: 0 70px;
    box-sizing: border-box;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.section .section-block-content-centered .section-block-inner.owl-carousel {
    position: relative;
    top: 0;
    height: 100%;
    padding: 0;
    -webkit-transform: none;
    transform: none;
}

.section .section-block-content-centered .section-block-inner.owl-carousel .owl-stage-outer {
    height: 100%;
}

.section .section-block-content-centered .section-block-inner.owl-carousel .owl-stage-outer .owl-stage {
    height: 100%;
}

.section .section-block-content-centered .section-block-inner.owl-carousel .owl-stage-outer .owl-stage .owl-item {
    height: 100%;
}

.section .section-block-content-centered .section-block-inner.owl-carousel .owl-stage-outer .owl-stage .owl-item .slide {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    padding: 0 70px;
    box-sizing: border-box;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.section .section-block-content-centered .section-block-inner.owl-carousel .owl-dots {
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
}

.section.section-home .section-main-block {
    background-image: url(../images/home-main.jpg);
}

.section.section-home .section-secondary-block-left {
    background-image: url(../images/home-projects.jpg);
}

.section.section-home .section-secondary-block-right {
    background-image: url(../images/home-contact.jpg);
}

body[data-animation-in=''] .section,
body[data-animation-out=''] .section {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

body[data-animation-in=''] .section .section-main-block,
body[data-animation-in=''] .section .section-secondary-block,
body[data-animation-out=''] .section .section-main-block,
body[data-animation-out=''] .section .section-secondary-block {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.12, 1.175);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.12, 1.175);
    opacity: 1;
}

body[data-animation-in=''] .section.section-in .section-main-block,
body[data-animation-in=''] .section.section-in .section-secondary-block,
body[data-animation-out=''] .section.section-in .section-main-block,
body[data-animation-out=''] .section.section-in .section-secondary-block {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.no-js .section {
    position: relative;
    height: auto;
}

.no-js .section .section-main-block,
.no-js .section .section-secondary-block {
    position: relative;
    width: auto;
    height: auto;
    margin: 0 0 30px;
    opacity: 1;
}

.no-js .section .section-main-block .section-block-heading h2,
.no-js .section .section-secondary-block .section-block-heading h2 {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.no-js .section .section-block-content {
    overflow: visible;
    height: auto;
}

.no-js .section .section-block-content .section-block-inner {
    padding-bottom: 70px;
}

.no-js .section .section-block-content-centered {
    overflow: visible;
    height: auto;
}

.no-js .section .section-block-content-centered .section-block-inner {
    position: relative;
    top: 0;
    padding: 70px;
    -webkit-transform: none;
    transform: none;
}

.no-js .section .section-block-content-centered .section-block-inner.owl-carousel {
    height: auto;
}

.no-js .section .section-block-content-centered .section-block-inner.owl-carousel .owl-stage-outer {
    height: auto;
}

.no-js .section .section-block-content-centered .section-block-inner.owl-carousel .owl-stage-outer .owl-stage {
    height: auto;
}

.no-js .section .section-block-content-centered .section-block-inner.owl-carousel .owl-stage-outer .owl-stage .owl-item {
    height: auto;
}

.no-js .section .section-block-content-centered .section-block-inner.owl-carousel .owl-stage-outer .owl-stage .owl-item .slide {
    position: relative;
    top: 0;
    -webkit-transform: none;
    transform: none;
}

.no-js .section .section-block-content-centered .section-block-inner.owl-carousel .owl-dots {
    position: relative;
    bottom: 0;
}

.no-js body[data-animation-in=''] .section .section-main-block,
.no-js body[data-animation-in=''] .section .section-secondary-block,
.no-js body[data-animation-out=''] .section .section-main-block,
.no-js body[data-animation-out=''] .section .section-secondary-block {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-transform: none;
    transform: none;
}

.no-js body[data-animation-in=''] .section.section-in .section-main-block,
.no-js body[data-animation-in=''] .section.section-in .section-secondary-block,
.no-js body[data-animation-out=''] .section.section-in .section-main-block,
.no-js body[data-animation-out=''] .section.section-in .section-secondary-block {
    -webkit-transform: none;
    transform: none;
}

@-webkit-keyframes flipIn {
    0% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    100% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

@keyframes flipIn {
    0% {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
    100% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

@-webkit-keyframes flipOut {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    100% {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
}

@keyframes flipOut {
    0% {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    100% {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
}

/*=============================================>>>>>
= NAVIGATION =
===============================================>>>>>*/
.nav-main {
    text-align: right;
}

.nav-main ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    color: inherit;
    font: 1.0769230769em/80px Rabbid Highway, sans-serif;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

.nav-main ul li {
    float: left;
    padding: 0;
}

.nav-main ul li a {
    position: relative;
    display: block;
    vertical-align: middle;
    height: 80px;
    padding: 0 15px;
    text-decoration: none;
    color: inherit;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.nav-main ul li a:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background: #000;
    z-index: -1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.nav-main ul li a:hover {
    color: #3767C7;
}

.nav-main ul li.active a {
    color: #ffffff;
}

.nav-main ul li.active a:before {
    height: 100%;
}

.nav-main .hamburger {
    position: fixed;
    right: 15px;
    top: 15px;
    overflow: visible;
    display: none;
    width: 50px;
    height: 50px;
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    text-transform: none;
    cursor: pointer;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.nav-main .hamburger .hamburger-box {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.nav-main .hamburger .hamburger-box .hamburger-inner {
    display: block;
    top: 50%;
    left: 50%;
    margin-top: -2px;
    margin-left: -10px;
}

.nav-main .hamburger .hamburger-box .hamburger-inner, .nav-main .hamburger .hamburger-box .hamburger-inner::before, .nav-main .hamburger .hamburger-box .hamburger-inner::after {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #000;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.nav-main .hamburger .hamburger-box .hamburger-inner::before, .nav-main .hamburger .hamburger-box .hamburger-inner::after {
    content: "";
    display: block;
}

.nav-main .hamburger .hamburger-box .hamburger-inner::before {
    top: -5px;
}

.nav-main .hamburger .hamburger-box .hamburger-inner::after {
    bottom: -5px;
}

.nav-main .hamburger.hamburger--spin .hamburger-inner {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.nav-main .hamburger.hamburger--spin .hamburger-inner::before {
    -webkit-transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
    transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
}

.nav-main .hamburger.hamburger--spin .hamburger-inner::after {
    -webkit-transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.nav-main .hamburger.hamburger--spin.is-active .hamburger-inner {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    -webkit-transition-delay: 0.14s;
    transition-delay: 0.14s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.nav-main .hamburger.hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
    transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
}

.nav-main .hamburger.hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.nav-social {
    margin: 0;
    padding: 0;
    list-style: none;
    color: inherit;
    text-align: center;
    line-height: 30px;
}

.nav-social li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
}

.nav-social li a {
    overflow: hidden;
    display: block;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    color: inherit;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.nav-social li a:hover {
    background: #3767C7;
    color: #ffffff;
}

.filter {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    font: 0.8em/70px Rabbid Highway, sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: inherit;
}

.filter li {
    display: inline-block;
    padding: 0 20px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.filter li.active {
    color: #3767C7;
}

/*=============================================>>>>>
= BUTTONS =
===============================================>>>>>*/
.btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 18px 25px;
    background: #3767C7;
    border: none;
    border-radius: 30px;
    box-sizing: border-box;
    font: 0.8em/1 Poppins, sans-serif;
    letter-spacing: 3px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.btn:hover {
    background: #213e77;
}

.btn-alt {
    position: relative;
    display: block;
    padding: 20px 25px;
    background: rgba(255, 255, 255, 0.5);
    font: bold 1.2em/1.5 Rabbid Highway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    text-align: center;
    color: inherit;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.btn-alt:hover {
    background: #3767C7;
    color: #ffffff;
}

/*=============================================>>>>>
= FORM ELEMENTS =
===============================================>>>>>*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="url"],
input[type="tel"],
input[type="number"],
textarea {
    vertical-align: bottom;
    width: 100%;
    margin: 0;
    padding: 10px 10px;
    background: #ededed;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    font: 0.9230769231em Space Mono, monospace;
    color: inherit;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none;
}

input[type="text"].error,
input[type="password"].error,
input[type="email"].error,
input[type="search"].error,
input[type="url"].error,
input[type="tel"].error,
input[type="number"].error,
textarea.error {
    background: #fc5756;
    color: #000000;
}

textarea {
    overflow: hidden;
    overflow-y: auto;
    resize: none;
    min-height: 120px;
}

select {
    width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
}

label {
    display: block;
    margin: 0 0 15px;
    font: 1.2em/1.5 Rabbid Highway, sans-serif;
}

label.error {
    padding: 5px 0 0;
    color: #fc5756;
    font: 0.8em Rabbid Highway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

form .form-item {
    position: relative;
    margin: 0 0 30px;
}

form .form-item .form-item-label {
    position: absolute;
    left: 0;
    top: 7px;
    width: 100%;
    margin: 0;
    padding: 0 10px 2px;
    box-sizing: border-box;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: text;
}

form .form-item .form-item-label:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #3767C7;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

form .form-item input:focus + .form-item-label,
form .form-item textarea:focus + .form-item-label,
form .form-item .error + .form-item-label,
form .form-item .valid + .form-item-label {
    top: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

form .form-item input:focus + .form-item-label:before,
form .form-item textarea:focus + .form-item-label:before,
form .form-item .error + .form-item-label:before,
form .form-item .valid + .form-item-label:before {
    width: 100%;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.message {
    display: block;
    margin: 0 0 30px;
    padding: 20px 30px;
    border-radius: 30px;
    text-align: center;
    line-height: 1;
}

.message-success {
    background: #32b576;
    color: #ffffff;
}

.message-error {
    background: #fc5756;
    color: #000000;
}

.form-contact button[type="submit"] {
    margin: 0 0 15px;
}

/*=============================================>>>>>
= COMMON ELEMENTS =
===============================================>>>>>*/
.fa-3x,
.fa-4x,
.fa-5x {
    margin: 0 0 30px;
}

.logo {
    font: 2.3076923077em/80px Rabbid Highway, sans-serif;
}

.intro p {
    font-weight: bold;
    font-size: 1.2307692308em;
    color: inherit;
}

.timeline {
    position: relative;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 10px;
    bottom: 0;
    width: 2px;
    background: #3767C7;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.timeline .timeline-item {
    position: relative;
    padding: 0 55% 0 30px;
    text-align: right;
}

.timeline .timeline-item:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 8px;
    width: 6px;
    height: 6px;
    background: #fff;
    border: 5px solid #3767C7;
    border-radius: 50%;
    box-sizing: padding-box;
    -webkit-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.timeline .timeline-item .timeline-item-time {
    position: relative;
    display: inline-block;
    margin: 0 0 15px;
    padding: 5px 15px;
    background: #000;
    border-radius: 30px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1em;
}

.timeline .timeline-item:nth-child(even) {
    padding-left: 55%;
    padding-right: 0;
    text-align: inherit;
}

.timeline .timeline-item:hover:before {
    background: #3767C7;
    -webkit-transform: translateX(-50%) scale(1.5);
    transform: translateX(-50%) scale(1.5);
}

.progress {
    position: relative;
    margin: 0 0 30px;
}

.progress .progress-bar .progress-bar-inner {
    width: 0;
    height: 2px;
    background: #3767C7;
    border-radius: 0 5px 5px 0;
    -webkit-transition: 0.3s 1s;
    transition: 0.3s 1s;
}

.section-in .progress .progress-bar .progress-bar-inner {
    width: 100%;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.skills h3 {
    margin: 0;
}

.tools {
    list-style: none;
    padding: 0;
    font: 0.8em/1 Rabbid Highway, sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: inherit;
}

.tools li {
    display: inline-block;
    margin: 0 0 5px;
    padding: 18px 25px;
    background: #ededed;
    border-radius: 30px;
}

.projects {
    position: relative;
    overflow: hidden;
}

.projects .projects-item {
    position: relative;
    float: left;
    width: 300px;
}

.projects .projects-item .projects-item-thumb {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    padding: 0 0 100%;
    text-decoration: none;
    font-weight: normal;
    color: #ffffff;
}

.projects .projects-item .projects-item-thumb:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(55, 103, 199, 0.7);
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 5;
}

.projects .projects-item .projects-item-thumb .projects-item-heading {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    text-align: center;
    z-index: 10;
}

.projects .projects-item .projects-item-thumb .projects-item-heading .fa {
    color: inherit;
}

.projects .projects-item .projects-item-thumb img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.projects .projects-item .projects-item-thumb:hover:before {
    opacity: 1;
}

.projects .projects-item .projects-item-thumb:hover .projects-item-heading {
    opacity: 1;
}

.projects .projects-sizer {
    width: 25%;
}

.clients .clients-item-logo {
    margin: 0 0 15px;
}

.map {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup {
    position: relative;
    width: auto;
    max-width: 750px;
    margin: auto;
    padding: 35px;
    background: #fff;
    box-sizing: border-box;
    opacity: 0;
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
    text-align: center;
    -webkit-transition: 0.8s;
    transition: 0.8s;
}

.mfp-ready .popup {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.mfp-removing .popup {
    opacity: 0;
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
}

.mfp-bg.flipcard {
    background: #fff url(../images/main-bg.png);
    opacity: 0;
    filter: alpha(opacity=100);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.mfp-bg.flipcard.mfp-ready {
    opacity: 1;
}

.mfp-bg.flipcard.mfp-removing {
    opacity: 0;
}

.mfp-wrap.flipcard button.mfp-close,
.mfp-wrap.flipcard button.mfp-arrow {
    width: 40px;
    height: 40px;
    color: #3767C7;
    line-height: 40px;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: 0.8s;
    transition: 0.8s;
}

.mfp-wrap.flipcard button.mfp-close:before, .mfp-wrap.flipcard button.mfp-close:after,
.mfp-wrap.flipcard button.mfp-arrow:before,
.mfp-wrap.flipcard button.mfp-arrow:after {
    display: none;
}

.mfp-wrap.flipcard .mfp-close {
    padding: 0;
    font-size: 1.5384615385em;
}

.mfp-wrap.flipcard .mfp-arrow {
    margin-top: 0;
    font-size: 1.9230769231em;
}

.mfp-wrap.flipcard .mfp-arrow-left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.mfp-wrap.flipcard .mfp-arrow-right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.mfp-wrap.flipcard.mfp-ready .mfp-arrow-left,
.mfp-wrap.flipcard.mfp-ready .mfp-arrow-right {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.mfp-wrap.flipcard.mfp-removing .mfp-arrow-left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.mfp-wrap.flipcard.mfp-removing .mfp-arrow-right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.mCS-flipcard > .mCSB_container {
    margin-right: 8px;
}

.mCS-flipcard .mCSB_scrollTools {
    width: 8px;
}

.mCS-flipcard .mCSB_scrollTools .mCSB_draggerRail {
    width: 8px;
    background: none;
    border-radius: 0;
}

.mCS-flipcard .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 8px;
    background-color: #2c529f;
    background-color: rgba(44, 82, 159, 0.75);
    border-radius: 0;
}

.mCS-flipcard:hover .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #2c529f;
}

.owl-carousel {
    overflow: hidden;
}

.owl-carousel .owl-prev,
.owl-carousel .owl-next {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 2em;
    line-height: 40px;
    color: #3767C7;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.owl-carousel .owl-prev {
    left: 30px;
    -webkit-transform: translate(-140px, -50%);
    transform: translate(-140px, -50%);
}

.owl-carousel .owl-next {
    right: 30px;
    -webkit-transform: translate(140px, -50%);
    transform: translate(140px, -50%);
}

.owl-carousel .owl-dots {
    text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 3px;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.owl-carousel .owl-dots .owl-dot:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 6px;
    height: 6px;
    background: #3767C7;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.owl-carousel .owl-dots .owl-dot.active {
    background: #3767C7;
}

.owl-carousel:hover .owl-prev,
.owl-carousel:hover .owl-next {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.owl-carousel .owl-item img {
    display: inline;
    width: auto;
}

.owl-carousel [class*="icon-"] {
    margin: 0 0 15px;
    font-size: 2.3076923077em;
    color: #3767C7;
}

/*=============================================>>>>>
= MEDIA QUERIES =
===============================================>>>>>*/
@media (max-width: 1279px) {
    html,
    body {
        overflow: visible;
        height: auto;
    }
    .wrapper {
        height: auto;
    }
    .wrapper .wrapper-inner {
        position: relative;
        left: 0;
        width: auto;
        height: auto;
        -webkit-transform: none;
        transform: none;
    }
    .site-header .logo {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .site-header .nav-main {
        position: fixed;
        right: auto;
        left: 0;
        width: 0;
        height: 100%;
    }
    .site-content {
        position: relative;
        top: 0;
        bottom: 0;
        padding: 110px 30px 0;
    }
    .section {
        position: relative;
        height: auto;
    }
    .section .section-main-block,
    .section .section-secondary-block {
        position: relative;
        width: auto;
        height: auto;
        margin: 0 0 30px;
        -webkit-animation: none;
        animation: none;
        opacity: 1;
    }
    .section .section-main-block .section-block-heading h2,
    .section .section-secondary-block .section-block-heading h2 {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    .section .section-block-content {
        overflow: visible;
        height: auto;
    }
    .section .section-block-content .section-block-inner {
        padding-bottom: 70px;
    }
    .section .section-block-content-centered {
        overflow: visible;
        height: auto;
    }
    .section .section-block-content-centered .section-block-inner {
        position: relative;
        top: 0;
        padding: 70px;
        -webkit-transform: none;
        transform: none;
    }
    .section .section-block-content-centered .section-block-inner.owl-carousel {
        height: auto;
    }
    .section .section-block-content-centered .section-block-inner.owl-carousel .owl-stage-outer {
        height: auto;
    }
    .section .section-block-content-centered .section-block-inner.owl-carousel .owl-stage-outer .owl-stage {
        height: auto;
    }
    .section .section-block-content-centered .section-block-inner.owl-carousel .owl-stage-outer .owl-stage .owl-item {
        height: auto;
    }
    .section .section-block-content-centered .section-block-inner.owl-carousel .owl-stage-outer .owl-stage .owl-item .slide {
        position: relative;
        top: 0;
        padding: 70px;
        -webkit-transform: none;
        transform: none;
    }
    body[data-animation-in=''] .section,
    body[data-animation-out=''] .section {
        -webkit-transform-style: preserve-2d;
        transform-style: preserve-2d;
    }
    body[data-animation-in=''] .section .section-main-block,
    body[data-animation-in=''] .section .section-secondary-block,
    body[data-animation-out=''] .section .section-main-block,
    body[data-animation-out=''] .section .section-secondary-block {
        -webkit-backface-visibility: visible;
        backface-visibility: visible;
        -webkit-transform: none;
        transform: none;
    }
    body[data-animation-in=''] .section.section-in .section-main-block,
    body[data-animation-in=''] .section.section-in .section-secondary-block,
    body[data-animation-out=''] .section.section-in .section-main-block,
    body[data-animation-out=''] .section.section-in .section-secondary-block {
        -webkit-transform: none;
        transform: none;
    }
    .nav-main {
        text-align: center;
    }
    .nav-main ul {
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        overflow-y: auto;
        width: 250px;
        height: 100%;
        background: url(../images/main-bg.png);
        line-height: 1;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    .nav-main ul li {
        display: block;
        float: none;
        height: auto;
        padding: 0;
    }
    .nav-main ul li:first-child {
        padding-top: 30px;
    }
    .nav-main ul li a {
        display: block;
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 1.5;
    }
    .nav-main ul li a:before {
        display: none;
    }
    .nav-main ul li.active a {
        color: #3767C7;
    }
    .nav-main .hamburger {
        display: block;
    }
    .nav-main.active ul {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .progress .progress-bar .progress-bar-inner {
        width: 100%;
    }
    .projects .projects-item {
        width: 50%;
    }
    .projects .projects-sizer {
        width: 50%;
    }
    .map {
        position: relative !important;
        height: 300px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 3.0769230769em;
    }
    h2 {
        font-size: 1.0769230769em;
    }
    .site-content {
        padding: 90px 10px 0;
    }
    .section .section-main-block,
    .section .section-secondary-block {
        margin-bottom: 10px;
    }
    .section .section-main-block .section-block-heading,
    .section .section-secondary-block .section-block-heading {
        top: 35px;
    }
    .section .section-main-block .section-block-heading h2,
    .section .section-secondary-block .section-block-heading h2 {
        padding-top: 10px;
    }
    .section .section-main-block .section-block-heading h2:before,
    .section .section-secondary-block .section-block-heading h2:before {
        border-bottom-width: 5px;
    }
    .section .section-block-content .section-block-inner {
        padding: 35px;
    }
    .section .section-block-content-centered .section-block-inner {
        padding: 35px;
    }
    .section .section-block-content-centered .section-block-inner.owl-carousel .owl-stage-outer .owl-stage .owl-item .slide {
        padding: 35px;
    }
    .timeline {
        margin: 0 0 0 15px;
    }
    .timeline:before {
        left: 0;
    }
    .timeline .timeline-item {
        padding-right: 0;
        text-align: inherit;
    }
    .timeline .timeline-item:before {
        left: 0;
    }
    .timeline .timeline-item:nth-child(even) {
        padding-left: 30px;
    }
}
